<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ZeoScope.ZeoSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZeoScope.ZeoSettings>
            <setting name="AlarmEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ComPortSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MP3FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmCue" serializeAs="String">
                <value>40R</value>
            </setting>
            <setting name="AlarmFromTime" serializeAs="String">
                <value />
            </setting>
            <setting name="AlarmToTime" serializeAs="String">
                <value />
            </setting>
            <setting name="EegLevelSelecteIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="FileNames" serializeAs="String">
                <value>ZeoData</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="FreqPanelHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="AlarmFadeIn" serializeAs="String">
                <value>01:30</value>
            </setting>
            <setting name="AlarmFadeOut" serializeAs="String">
                <value>00:30</value>
            </setting>
            <setting name="AlarmDuration" serializeAs="String">
                <value>02:00</value>
            </setting>
            <setting name="AlarmCues" serializeAs="String">
                <value>40R|20R|20R;1L OR 20L;1R</value>
            </setting>
            <setting name="AlarmSnooze" serializeAs="String">
                <value>00:30</value>
            </setting>
            <setting name="MaxVolume" serializeAs="String">
                <value>5</value>
            </setting>
        </ZeoScope.ZeoSettings>
    </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
