<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZeoScope.ZeoSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZeoScope.ZeoSettings>
            <setting name="LucidAlarmEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ComPortSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MP3FileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LucidAlarmCue" serializeAs="String">
                <value />
            </setting>
            <setting name="LucidAlarmFromTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LucidAlarmToTime" serializeAs="String">
                <value />
            </setting>
            <setting name="EegLevelSelecteIndex" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ZeoFileNames" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="WindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="FreqPanelHeight" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="FadeIn" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="FadeOut" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AlarmDuration" serializeAs="String">
                <value>120</value>
            </setting>
        </ZeoScope.ZeoSettings>
    </userSettings>
</configuration>